[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = http://github.com/m2ym/auto-complete.git
[submodule "vendor/cheat"]
	path = vendor/cheat
	url = http://github.com/defunkt/cheat.el.git
[submodule "vendor/color-theme-github"]
	path = vendor/color-theme-github
	url = http://github.com/dudleyf/color-theme-github.git
[submodule "vendor/color-theme-ir-black"]
	path = vendor/color-theme-ir-black
	url = http://github.com/burke/color-theme-ir-black.git
[submodule "vendor/textmate"]
	path = vendor/textmate
	url = git://github.com/defunkt/textmate.el.git
[submodule "vendor/gist"]
	path = vendor/gist
	url = http://github.com/defunkt/gist.el.git
[submodule "vendor/mingus"]
	path = vendor/mingus
	url = http://github.com/pft/mingus.git
[submodule "vendor/perspective"]
	path = vendor/perspective
	url = git://github.com/nex3/perspective-el.git
[submodule "vendor/color-theme-mac-classic"]
	path = vendor/color-theme-mac-classic
	url = git://github.com/jbw/color-theme-mac-classic.git
[submodule "vendor/color-theme-tangotango"]
	path = vendor/color-theme-tangotango
	url = git://github.com/juba/color-theme-tangotango.git
[submodule "vendor/eproject"]
	path = vendor/eproject
	url = git://github.com/jrockway/eproject.git
[submodule "vendor/emacs-w3m"]
	path = vendor/emacs-w3m
	url = https://github.com/sjatkinson/emacs-w3m.git
[submodule "vendor/twittering-mode"]
	path = vendor/twittering-mode
	url = git://github.com/hayamiz/twittering-mode.git
[submodule "vendor/gnus"]
	path = vendor/gnus
	url = http://git.gnus.org/gnus.git
